@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #337AB7;
    font-size: large;
}

.login-h1{
    background-color: #337ABF;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 15px;
}

.input-box{
    padding: 10px;
}

.input-user{
    width: 70%;
}

.input-pwd{
    width: 70%;
}

.forgot{
    padding: 10px;
    font-size: 1.1rem;
}

.login-btn{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.btn{
    color: azure;
    background-color: #337AB7;
    border-color: #337AB7;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.lock-icon {
    height: 20px;
    width: 20px;
}